<!DOCTYPE html>
<html lang="en">
    <%- include  ('./css.ejs')%>
<body>
    <img src="dead-man.png" alt="">

    <div class="name">
        <p>H</p>
        <p>A</p>
        <p>N</p>
        <p>G</p>
        <p>M</p>
        <p>A</p>
        <p>N</p>
    </div>

    <div class = "first-flex">
        <a href="/login"><button class="login-link common-hover">Login</button></a>
        <a href="/localMultiplayer"><button class = "local-2p common-hover">Local multiplayer</button></a>
        <a href="/sign-up"><button class="sign-up-link common-hover">Sign Up</button></a>
        
    </div>
    
</body>
</html>