<html>
    <%- include  ('./css.ejs')%> 


    <body>
        <%- include ('./title.ejs')%>
        
        <h1 style = "text-align: center;">Pick a mode</h1>

        <a href=""><button class = "mode p1">One player</button></a>
        
        <a href=""><button class = "mode online-2p">Online multiplayer</button></a>
        
    </body>
</html>