<html>
    <%- include  ('./css.ejs')%> 


    <body>
        <%- include ('./title.ejs')%>

        <form action="/sign-up" method = "POST" class = "form signup-form">
            <!-- <label for="username">Username</label> -->
            <div class = "username-box">
                <p style>Username: </p>
                <input type="text" name = "username" class = "username-inp" required>
            </div>
            
            <!-- <label for="password">Password</label> -->
            <div class = "password-box">
                <p>Password: </p>
                <input type="password" name="password" class = "password-inp" required>
            </div>
            
            <button class = "sign-up-button">Sign Up</button>
        </form>

        <% if(msg !== '') { %>
            <p class = "msg"><%= msg%></p>
        <% } %>
    </body>
</html>
